.hero {
  max-width: 1600px;
  height: 600px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.hero__btn {
  padding: 6px 22px;
  border: transparent;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-bg-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
