.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu__item:not(:first-child) {
  margin-left: 8px;
}

.menu__btn {
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--second-text-color);
    background-color: var(--accent-bg-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.project__item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.project__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__box {
  position: relative;
  overflow: hidden;
}

.project__box::before {
  content: '';
  background: rgba(33, 150, 243, 0.9);

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0);
  }
}

.project__description {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--second-text-color);

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0);
  }
}

.project__name {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: var(--first-title-color);
}

.project__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
