.application__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-mail-footer {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  min-width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.footer-form__btn {
  min-width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  fill: var(--second-text-color);
  margin-left: 10px;
}
