.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--first-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  visibility: visible;
  padding: 40px;
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--first-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  margin-bottom: 12px;
}

.modal__field {
  margin-bottom: 10px;
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--first-text-color);
  display: block;
  margin-bottom: 4px;
}

.modal__input-wrap {
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border-color: var(--accent-color);
    cursor: pointer;
  }
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__input:focus + &,
  .modal__input:hover + & {
    fill: var(--accent-color);
  }
}

.modal__user-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border-color: var(--accent-color);
    cursor: pointer;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__field-check {
  margin-bottom: 30px;
}

.modal__check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--first-title-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__check-icon {
  fill: transparent;
}

.modal__check:checked + .modal__check-text > span {
  background-color: var(--accent-bg-color);
  border: none;
}

.modal__check:checked + .modal__check-text svg {
  fill: var(--second-text-color);
}

.modal__link {
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 5px;
}

.modal__form-btn {
  display: flex;
  justify-content: center;
}

.modal__sumbit-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
